@font-face {
    font-family: "FF Mark W05";
    src: url("../fonts/Mark-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "FF Mark W05";
    src: url("../fonts/Mark-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "FF Mark W05";
    src: url("../fonts/Mark-Heavy.woff2") format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Spigel";
    src: url("../fonts/Spiegel-Bold.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: "Spigel";
    src: url("../fonts/Spiegel-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Spigel";
    src: url("../fonts/Spiegel-SemiBold.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "Spigel";
    src: url("../fonts/Spiegel-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}