@import "mixin";
@import "variables";
*{
    margin: 0;
    padding: 0;
}

/* Variantes */
body{
    text-align: center;
    font-family: 'Spigel', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f7f7f7;
}

a{
    text-decoration: none;
    color: black;
    &:hover{
        color: white !important;
        transition: .4s;
        text-decoration: none;
    }
}


.fab:hover{
    color: white;
    transition: .4s;
}

.flex{
    display: flex;
}

.separador{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0!important;
    border-left: 2px solid gray;
}

.mayus{
    text-transform: uppercase;
}


.border{
    @include border-radius(0.75rem)
}
.bordes{
    border: 1px solid black;
}

// Button go top

.go-top-conteiner{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 2.6rem;
    height: 2.6rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #e4e4e4;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: .2s;
    i{
        position: absolute;
        font-size: 1rem;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: black;
        transition: .2s;
    }
}

.showGoTop{
    z-index: 10;
}

.showGoTop .go-top-button{
    animation: popup .3s ease-in-out;
    width: 2.6rem;
    height: 2.6rem;
    z-index: 11;
}

.showGoTop i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 3rem;
        height: 3rem;
    }
    100%{
        width: 2.6rem;
        height: 2.6rem;
    }
}

/* Modal*/
.modalCustom{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    animation: modalCustom 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.contenidoModal{
    margin: auto;
    width: 95%;
    height: 70%;
    p{
        color: white;
    }
}

#cerrarModal{
    display: none;
    + label{
        position: fixed;
        color: #fff;
        font-size: 25px;
        z-index: 50;
        height: 40px;
        width: 40px;
        line-height: 40px;
        right: 10px;
        cursor: pointer;
        animation: modalCustom 2s 1s forwards;
        visibility: hidden;
        opacity: 0;
    }
}

#cerrarModal:checked + label, #cerrarModal:checked ~.modalCustom{
    display: none;
}

@keyframes modalCustom{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
/* MEDIA QUERYS */
/* Tablet */

/* Phone */
@media only screen and (max-width: 767px){
    .separador{
        display: none;
    }
    .dropdown--custom{
        color: white !important;
    }
    .modalCustom{
        display: none;
    }
    #btn-cerrarModal{
        display: none;
    }
    .go-top-conteiner{
        bottom: 2rem;
        right: 1rem;
    }
}