@import "mixin";
@import "variables";
*{
    margin: 0;
    padding: 0;
}

/* Variantes */
body{
    text-align: center;
    font-family: 'Spigel', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f7f7f7;
}

a{
    text-decoration: none;
    color: black;
    &:hover{
        color: white !important;
        transition: .4s;
        text-decoration: none;
    }
}


.fab:hover{
    color: white;
    transition: .4s;
}

.flex{
    display: flex;
}

.separador{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0!important;
    border-left: 2px solid gray;
}

.mayus{
    text-transform: uppercase;
}


.border{
    @include border-radius(0.75rem)
}
.bordes{
    border: 1px solid black;
}



/* Barra de navegación */
.header{
    background-color: $bg-color-default;
    height: 10vh;
    border-bottom: 2px solid $border-color-default;
}

.navBar{
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 0 !important;
}

.logo{
    width: 40px;
    margin-top: -10px;
    margin-left: 100px;
}


/* Header Centro */
.header__menu{
    @include header;
    li{
        height: 100%;
        &:hover{
            border-bottom: 2px solid $border-color-hover;
            transition: .4s;
        }
        a{
            color: rgb(160, 157, 157);
            font-size: 12px;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 800;
            letter-spacing: 0.1em;
            &:hover{
                color: rgb(255, 255, 255);
                transition: .5s;
                transform: scale(1.1);
                background-color: transparent;
            }
        }
    }
}

/* Header Derecho */
.header__accounts{
    @include header;
    font-weight: 800;
    letter-spacing: 0.1em;
    div{
        width: 7vh;
        height: 50%;
        display: grid;
        align-items: center;
    }
}

.header--text{
    @media only screen and(min-width: 768px){
        height: 100% !important;
    }
}

.header__button--register{
    width: 14vh !important;
    border-radius: 2px;
    background-color: #E20B0B !important;
    cursor: pointer;
    &:hover{
        background-color: #cf0000 !important;
    }
}

.header__login{
    color: white;
    font-size: 12px;
}

.header__register{
    color: white;
    font-size: 12px;
    height: 100%;
    display: grid;
    align-items: center;
}


/* Contenido principal index.html */

.section__home{
    @include bg-image(url("../media/yacheuwu.png"), 100vh);
    div:nth-child(1){
        min-height: 100vh;
        display: flex;
    }
}

.video{
    margin: auto;
}

.dropdown{
    height: 100%;
}

.dropdown--custom{
    color: rgb(160, 157, 157) !important;
    background-color: transparent !important;
    border-color: transparent !important;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    &:hover{
        color: white !important;
    }
    &:focus{
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: 0 0 0 0 transparent !important;
    }
}

.dropdown__menu--custom{
    border: 2px solid rgba(51, 51, 51, 0.25);
    background-color: #111111;
    a{
        &:focus{
            background-color: transparent !important;
            color: rgb(160, 157, 157) !important;
        }
        &:hover{
            background-color: #161717 !important;
            color: white !important;
            transform: scale(1.0) !important;
        }
    }
}

/* Noticias y Social Media */
.section__socialMedia{
    @include banner;
    div a i{
        color: #a09d9d;
    }
}

.noticias__text{
    display: flex;
    justify-content: space-between;
    p{
        margin-bottom: 0;
        font-size: 10px;
        &:nth-child(1){
            color: #e20b0b;
            align-self: center;
        }
    }
    .separador{
        transform: $rotate-horizontal;
    }
}

.noticias__textRanking{
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.noticias__fondo{
    background: url("../media/fondo-noticias.png") repeat-x;
    padding-bottom: 5vh;
    width: 100%;
}

.noticias__recientes{
    background: url("../media/fondo-noticias.png") repeat-x;
    padding-top: 50px;
}

.noticias__titulo{
    width: 60px;
}

.noticias__titulo--text{
    float: left;
    letter-spacing: 0.25em;
    transform: $rotate-horizontal;
    transform-origin: left top 0px;
    font-size: 0.625rem;
    white-space: nowrap;
    font-weight: 700;
    color: rgb(28, 29, 42);
    position: absolute;
    transition: .2s;
}

.noticias__tituloMain{
    font-weight: 700;
    font-size: 1rem;
    color: rgb(28, 29, 42);
    letter-spacing: 0.25em;
}

.noticias__articulos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    div article{
        transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        transform: scale3d(1.05, 1.05, 1);
        cursor: pointer;
        &:hover{
            transform: scale3d(1.001, 1.001, 1);
        }
    }
}

.patchs__description--text{
    padding-top: 15px;
    p{
        margin-bottom: 0;
        &:nth-child(1){
            color: #e20b0b;
            font-size: 10px;
        }
        &:nth-child(2){
            font-weight: 800;
            font-size: 20px;
        }
    }
}


/* Footer */
footer{
    height: 500px;
    background: $bg-color-default;
    @include border(2px, $border-color-default);
    div div{
        margin: 40px auto;
    }
}

.footer__links{
    color: white;
    @include footer;
    li{
        font-size: 12px;
        letter-spacing: 0.1rem;
        color: #7e7e7e;
        font-weight: 800;
        text-transform: uppercase;
        a{
            margin: 0 16px;
            color: #7e7e7e;
        }
    }
}

.footer__socialLinks{
    @include footer;
    li{
        margin: 0 10px;
        a{
            color: #595959;
            i{
                font-size: 25px;
            }
        }
    }
}

.footer__derechos{
    max-width: 500px;
    text-transform: none !important;
    span{
        color: #595959;
    }
}

.footer__legalLinks{
    @include footer;
    li{
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        a{
            font-size: 8px;
            font-weight: 300;
            text-decoration-line: underline;
            color: #595959;
            margin: 0 16px;
        }
    }
}

/* info.html */

.info{
    @include bg-image(url("../media/Kq2B0b.jpg"), 100vh);
    div{
        padding-left: 9vh;
        p{
            padding-top: 3vh;
            &:nth-child(2){
                font-size: 40px;
                padding-top: 0px!important;
            }
            &:nth-child(3){
                font-size: 9px;
            }
        }
        &:nth-child(4){
            border: 1px solid black;
            background-color: #d0a85c;
            display: inline-block;
            padding: 0 10px!important;
            margin-top: 5vh;
            height: 6vh;
            @include border-radius(0.75rem);
            &:hover{
                transition: .4s;
                cursor: pointer;
                filter: brightness(120%);
            }
            p{
                padding-top: 0px!important;
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                a:hover{
                    color: black !important;
                }
            }
        }
    }
}

.section__info{
    padding-top: 5vh;
    background: #070813;
}

.section__infoTitle{
    @include banner;
    margin: 0 auto 5vh auto;
}

.section__tabla{
    background-color: #1B1B1B78;
    max-width: 800px;
    width: 50%;
    margin: 0 auto;
    color: white;
    @include border-radius(0.75rem);
    background: url(../media/bg-news-top.jpg) top center no-repeat, url(../media/bg-news-repeat.jpg) repeat;
    div{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 5vh;
        text-align: left;
        div{
            padding-top: 5vh;
        }
    }
}

.tabla__info{
    width: 100%;
    text-align: center;
    border: 1px solid #333;
    margin: 15px 0;
    thead{
        background: #010000;
        border: 1px solid #333;
        tr th{
            width: 100%;
            font-size: 12px;
            color: #d5b402;
            border: 1px solid #333;
            width: auto;
        }
    }
    tbody{
        font-size: 12px;
        tr{
            border: 1px solid #333;
            td{
                border: 1px solid #333;
                color: #a09d9d;
                padding: 10px;
                width: auto;
            }
            &:nth-of-type(2n+1){
                background: #0F0C14;
            }
            &:nth-of-type(2n+2){
                background: #140C13;
            }
            &:hover{
                background: #221420;
            }
        }
    }
}

.table__errtel{
    table tbody tr td{
        color: #d5b402;
        background: #010000;
        &:hover{
            background: #010000;
        }
    }
}


/* personajes.html */
.personajes__home{
    @include bg-image(url("../media/bg_main_media.jpg"), 100vh);
}

.personajes__title{
    padding-top: 10vh;
    h1{
        font-size: 40px;
        color: wheat;
        margin-bottom: 0;
    }
}

.personajes__imagen{
    padding-top: 11vh;
    img{
        width: 50%;
    }
}

.personajes{
    display: inline-block;
    width: 80%;
    margin: 25px auto;
}

.personajes__display{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    flex-wrap: wrap;
    div{
        background-color: #111111d6;
        width: 200px;
        height: 270px;
        background-size: cover;
        margin: 5vh 0;
        cursor: pointer;
        h5{
            background: #010000;
            color: #d5b402;
            border-radius: .75rem .75rem 0 0;
            border-bottom: 2px solid rgb(88, 87, 87);
            margin-bottom: 0;
        }
        a {
            display: block;
            transform: scale3d(1.0, 1.0, 1);
            transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
            img{
            width: 100%
            }
            &:hover{
                transform: scale3d(0.9, 0.9, 1);
            }
        }
    }
}

.gc{
    width: 70% !important;
}

/* notices.html */
.section__noticias{
    @include bg-image(url("../media/bg_main_info.jpg"), 50vh);
    div{
        display: inline-block;
        margin: 25vh auto;
        h1{
            font-size: 50px;
            color: wheat;
        }
    }
}

.noticias{
    display: grid;
    /* min-height: 200px; */
    grid-template-areas: 
    "header header header header header"
    "noticia1 noticia1 noticia1 . side"
    "noticia2 noticia2 noticia2 . side"
    "noticia3 noticia3 noticia3 . side"
    "noticia4 noticia4 noticia4 . side";
    /* grid-template-rows: 100px  100px 200px 75px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    margin-bottom: 5vh;
    background: url("../media/fondo-noticias.png") repeat;
    section{
        width: 100vh;
        margin-left: 100px;
    }
}
#side1{
    grid-area: foto1;
}
#side2{
    grid-area: foto2;
}
#side3{
    grid-area: foto3;
}
#side4{
    grid-area: foto4;
}
.noticias__side--fotos{
    display: grid;
    grid-template-areas:
    "foto1"
    "foto2"
    "foto3"
    "foto4";
    margin-left: 2vh;
}

.noticias__header{
    grid-area: header;
    text-align: left;
    margin: 3vh;
}

#noticia1{
    grid-area: noticia1;
    display: flex;
}
#noticia2{
    grid-area: noticia2;
    display: flex;
}
#noticia3{
    grid-area: noticia3;
    display: flex;
}
#noticia4{
    grid-area: noticia4;
    display: flex;
}
.noticias__side{
    grid-area: side;
    border-left: 2px solid gray;
    margin-left: -10vh;
}

.sideImagen{
    @include bg-image(url("../media/carrousel.jpg"), 200px);
    margin: 2vh auto;
}

.noticias__imagen{
    width: 50%;
    margin: 2vh;
    background-image: url(../media/carrousel.jpg);
    background-size: cover;
}

.noticias--author{
    font-size: 10px;
    padding-top: 19%;
    display: flex;
    justify-content: space-between;
    span a:hover{
        color: black !important;
        filter: brightness(150%);
        transition: .4s;
        font-weight: bold;
    }
}

.noticias--texto{
    font-size: 15px;
}

.noticias--textoConteiner{
    width: 50%;
    margin: 2vh;
}

.noticias--fecha{
    color: $border-color-hover;
}

/* patchs.html */

.patch__home{
    @include bg-image(url("../media/mu_forum_bg.jpg"), 70vh);
}

.patch__titulo{
    @include banner;
}

.patch__titulo--text{
    display: flex;
    font-style: italic;
    height: 100%;
    align-items: center;
    & span{
        text-align: center;
        width: 100%;
    }
}

/* galery.html */

.galery__home{
    @include bg-image(url("../media/demacia_03.jpg"), 100vh);
    div{
        font-size: 40px;
        color: wheat;
        text-align: left;
        padding-top: 50vh;
        span{
            display: block;
            margin-left: 15vh;
            background: #111111;
            width: 25vh;
            border: 2px solid wheat;
            border-radius: .75rem;
            text-align: center;
        }
    }
}

.galery__section{
    display: flex;
    div{
        width: 100%;
    }
}

.galery__video{
    width: 100%;
    height: 100%;
}

.galery__image{
    padding: 30px 30px;
}



/* ranking.html */
.ranking__home{
    @include bg-image(url("../media/image.jpg"), 100vh);
    div{
        padding-top: 80vh;
        font-size: 40px;
        color: wheat;
    }
}
.section__rankings{
    padding: 5vh 0 5vh 0;
    background: #070813;
}
.section__rankings--table{
    height: 80vh;
    width: 50%;
    margin: 0 auto 5vh auto;
    background: url(../media/bg-news-top.jpg) top center no-repeat, url(../media/bg-news-repeat.jpg) repeat;
    border-radius: 0.75rem;
    max-width: 800px;
}
.ranking{
    margin: 25px auto 0 auto;
    width: 70%;
    border: 1px solid black;
    td{
        border-right: 1px solid black;
    }
}

.ranking__types{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-top: 5vh;
    a{
        color: #d5b402;
        background: #0f0c14;
        border: 1px solid #333;
        border-radius: .75rem;
        width: 18vh;
        cursor: pointer;
        &:hover{
            color: #ffd805 !important;
            filter: brightness(120%);
        }
    }
}


/* login.html y register.html*/
#login{
    background-image: url(../media/image-2.jpg) ;
    background-size: cover;
}

.header__login{
    display: flex;
}

.section__form{
    display: flex;
    flex-direction: row-reverse;
}

.section__logIn__form{
    background-color: #f9f9f9;
    color: #111111;
    &:nth-child(1){
        padding: 3rem 2rem;
    }
}

.section__title{
    padding-bottom: 4rem;
    span{
        font-size: 30px;
    }
}

.flecha{
    margin: 20px;
    font-size: 30px;
}

#register{
    background-image: url(../media/image-3.jpg) ;
    background-size: cover;
}

.section__bottom{
    div a{
        color: rgb(56, 51, 51);
        &:hover{
            color: #111111 !important;
        }
    }
    div span a{
        color: rgb(97, 89, 89);
        font-weight: 600;
        &:hover{
            color: #111111 !important;
        }
    }
}


/* MEDIA QUERYS */
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .header__menu{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        li{
            margin: 0;
            border: 1px solid black;
            background-color: #20202099;
            width: 100%;
            display: inline-block;
            a{
                color: white;
                font-size: 20px;
                display: block;
                text-align: left;
                padding-left: 15px;
            }
        }
    }
    .header{
        height: auto;
    }
    .flex{
        display: flex;
    }
    .logo{
        float: none;
        margin: 0;
    }
    .header__accounts{
        display: flex;
        margin: 2vh 0;
        justify-content: space-around;
        width: 100%;
        div{
            width: 20vh !important;
            height: 8vh;
            background-color: #20202099;
            border: 1px solid black;
        }
    }
    .header__login{
        display: inline-block;
        width: 8vh;
        margin: auto;
    }
    .header__register{
        display: inline-block;
        width: 8vh;
        margin: auto;
        height: auto;
    }
    .section__home{
        min-height: 0;
    }
    .dropdown--custom{
        width: 8vh !important;
    }
    .dropdownCustom{
        color: white !important;
    }
}

/* Phone */
@media only screen and (max-width: 767px){
    .header{
        min-height: 5vh;
        height: auto;
    }
    .header__menu{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        li{
            margin: 0;
            border: 1px solid black;
            background-color: #20202099;
            width: 100%;
            display: inline-block;
            a{
                color: white;
                font-size: 20px;
                display: block;
                text-align: left;
                padding-left: 15px;
            }
        }
    }
    .flex{
        display: inline-block;
    }
    .logo{
        float: none;
        margin: 0;
    }
    .header__accounts{
        display: flex;
        margin: 2vh 0;
        justify-content: space-around;
        width: 100%;
        div{
            width: 20vh !important;
            height: 8vh;
            background-color: #20202099;
            border: 1px solid black;
        }
    }
    .header__button--register{
    width: 8vh !important;
    }
    .section__home{
        display: none;
        min-height: none;
    }
    .header__login{
        display: inline-block;
        width: 8vh;
        margin: auto;
    }
    .header__register{
        display: inline-block;
        width: 8vh;
        margin: auto;
        height: auto;
    }
    .navbar-margin-xs{
        margin: 5vh 0;
    }
    .section__socialMedia{
        display: block;
        margin-top: 5vh;
        div span:nth-child(1){
            width: 100%;
            display: inline-block;
        }
    }
    .noticias__recientes{
        padding-top: 0;
    }
    .noticias__titulo--text{
        float: none;
        transform: none;
        transform-origin: none;
        position: none;
    }
    .noticias__titulo{
        width: none;
        height: 25px;
    }
    .noticias__articulos{
        display: block;
    }
    .footer__links{
        display: block;
        justify-content: none;
        li{
            margin: 10px;
        }
    }
    .video{
        display: none;
    }
    footer{
        height: auto;
        div div{
            margin: 40px auto 0 auto;
        }
    }
    .footer__legalLinks{
        flex-wrap: wrap;
    }
    .separador{
        display: none;
    }
    .dropdown--custom{
        color: white !important;
    }
    .header-margin-xs{
        padding: 0;
        margin-top: 30px;
    }
    .noticias-articulo-sm{
        margin: 3vh 0;
    }
    .noticias-text .separador{
        display: flex;
    }
}