@import "main";
@import "mixin";
@import "variables";
@import "eachpersonajes";
@import "footer";
@import "header";
@import "pages/index";
@import "pages/patchs";
@import "pages/galery";
@import "pages/info";
@import "pages/notices";
@import "pages/logInRegister";
@import "pages/ranking";
@import "pages/personajes";
