@import "../mixin";
@import "../variables";



/* galery.html */

.galery__home{
    @include bg-image(url("../media/demacia_03.jpg"), 100vh);
    div{
        font-size: 40px;
        color: wheat;
        height: 100%;
        align-items: center;
        display: flex;
        span{
            margin-left: 15vh;
            background: #111111;
            width: 25vh;
            border: 2px solid wheat;
            border-radius: .75rem;
        }
    }
}

.galery__section{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
}
.gallery__section--wrapper{
        column-count: 3;
        li{
            border-radius: .75rem;
            display: inline-block;
            overflow: hidden;
        }
}

.img-wrapper img{
    width: 100%;
            transform: scale3d(1.0, 1.0, 1);
            transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
            &:hover{
                transform: scale3d(0.98, 0.98, 1);
            }
}


.galery__video{
    width: 100%;
    height: 100%;
}

.galery__image{
    padding: 30px 30px;
}

// Phone
@media only screen and (max-width: 767px){
    .gallery__section--wrapper{
        column-count: 1;
    }
}

@media only screen and (max-width: 991px){
    .galery__home div{
        display: flex;
        height: 100%;
        span{
            margin: auto;
        }
    }
}