@import "../mixin";
@import "../variables";


/* Contenido principal index.html */

.section__home{
    @include bg-image(url("../media/yacheuwu.png"), 100vh);
    div:nth-child(1){
        min-height: 100vh;
        display: flex;
    }
}

.video{
    margin: auto;
}

.dropdown{
    height: 100%;
}

.dropdown--custom{
    color: rgb(160, 157, 157) !important;
    background-color: transparent !important;
    border-color: transparent !important;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    &:hover{
        color: white !important;
    }
    &:focus{
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: 0 0 0 0 transparent !important;
    }
}

.dropdown__menu--custom{
    border: 2px solid rgba(51, 51, 51, 0.25);
    background-color: #111111;
    a{
        &:focus{
            background-color: transparent !important;
            color: rgb(160, 157, 157) !important;
        }
        &:hover{
            background-color: #161717 !important;
            color: white !important;
            transform: scale(1.0) !important;
        }
    }
}

.section__socialMedia{
    @include banner;
    div a i{
        color: #a09d9d;
    }
}

.noticias__text{
    display: flex;
    justify-content: space-between;
    p{
        margin-bottom: 0;
        font-size: 10px;
        &:nth-child(1){
            color: #e20b0b;
            align-self: center;
        }
    }
    .separador{
        transform: $rotate-horizontal;
    }
}

.noticias__textRanking{
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.noticias--descripcion{
    text-transform: none;
}

.noticias__fondo{
    background: url("../media/fondo-noticias.png") repeat-x;
    padding-bottom: 5vh;
    width: 100%;
}

.noticias__recientes{
    background: url("../media/fondo-noticias.png") repeat-x;
    padding-top: 50px;
}

.noticias__titulo--text{
    float: left;
    letter-spacing: 0.25em;
    transform: $rotate-horizontal;
    transform-origin: left top 0px;
    font-size: 0.625rem;
    white-space: nowrap;
    font-weight: 700;
    color: rgb(28, 29, 42);
    position: absolute;
    transition: .2s;
}

.noticias__articulos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    div article{
        transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        transform: scale3d(1.0, 1.0, 1);
        cursor: pointer;
        &:hover{
            transform: scale3d(0.98, 0.98, 1);
        }
        a img{
            border-radius: .25rem;
            max-height: 329px;
        }
    }
}

.noticias__titulo{
    width: 60px;
}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 991px){
    .section__home{
        min-height: 0;
    }
}

// Phone
@media only screen and (max-width: 767px){
    .section__socialMedia{
        display: block;
        margin-top: 5vh;
        div span:nth-child(1){
            width: 100%;
            display: inline-block;
        }
    }
    .video{
        display: none;
    }
    .noticias-articulo-sm{
        margin: 3vh 0;
        div{
            display: flex;
            margin: auto;
            width: 90%;
        }
    }
}