@import "../mixin";
@import "../variables";


/* info.html */

.info{
    @include bg-image(url("../media/Kq2B0b.jpg"), 100vh);
    div{
        p{
            padding-top: 3vh;
            &:nth-child(2){
                font-size: 40px;
                padding-top: 0px!important;
            }
            &:nth-child(3){
                font-size: 9px;
            }
        }
        &:nth-child(4){
            border: 1px solid black;
            background-color: #d0a85c;
            display: inline-block;
            padding: 0 10px!important;
            margin-top: 5vh;
            height: 6vh;
            @include border-radius(0.75rem);
            &:hover{
                transition: .4s;
                cursor: pointer;
                filter: brightness(120%);
            }
            p{
                padding-top: 0px!important;
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                a:hover{
                    color: black !important;
                }
            }
        }
    }
}

.section__info{
    padding-top: 5vh;
    background: #070813;
}

.section__infoTitle{
    @include banner;
    margin: 0 auto 5vh auto;
}

.section__tabla{
    background-color: #1B1B1B78;
    max-width: 800px;
    width: 50%;
    margin: 0 auto;
    color: white;
    @include border-radius(0.75rem);
    background: url(../media/bg-news-top.jpg) top center no-repeat, url(../media/bg-news-repeat.jpg) repeat;
    div{
        width: 97%;
        margin: 0 auto;
        padding-bottom: 5vh;
        text-align: left;
        div{
            padding-top: 5vh;
        }
    }
}

.tabla__info{
    width: 100%;
    text-align: center;
    border: 1px solid #333;
    margin: 15px 0;
    thead{
        background: #010000;
        border: 1px solid #333;
        tr th{
            width: 100%;
            font-size: 12px;
            color: #d5b402;
            border: 1px solid #333;
            width: auto;
        }
    }
    tbody{
        font-size: 12px;
        tr{
            border: 1px solid #333;
            td{
                border: 1px solid #333;
                color: #a09d9d;
                padding: 10px;
                width: auto;
            }
            &:nth-of-type(2n+1){
                background: #0F0C14;
            }
            &:nth-of-type(2n+2){
                background: #140C13;
            }
            &:hover{
                background: #221420;
            }
        }
    }
}

.table__errtel{
    table tbody tr td{
        color: #d5b402;
        background: #010000;
        &:nth-of-type(2n+1){
            background: #0F0C14;
        }
        &:nth-of-type(2n+2){
            background: #140C13;
        }
        &:hover{
            background: #221420;
        }
    }
}

.table__errtel--levels{
    display: none;
}


// Phone
@media only screen and (max-width: 767px){
    .section__tabla{
        width: 100%;
    }
    .tabla__info tbody tr:nth-of-type(2n+1){
        @include flexColumn;
    }
    .tabla__info tbody tr:nth-of-type(2n+2){
        @include flexColumn;
    }
    .tabla__info--errtel{
        @include flexColumn;
        tbody:nth-child(2){
            display: flex;
            flex-direction: column;
        }
    }
    .table__errtel{
        @include flexColumn;
        table:nth-child(1){
            @include flexColumn;
            tbody:nth-child(1){
                display: flex;
                flex-wrap: wrap;
                tr{
                    width: 50%;
                }
            }
        }
    }
}