@import "../mixin";
@import "../variables";


/* notices.html */
.section__noticias{
    @include bg-image(url("../media/bg_main_info.jpg"), 50vh);
    div{
        display: inline-block;
        margin: 25vh auto;
        h1{
            font-size: 50px;
            color: wheat;
        }
    }
}

.noticias__tituloMain{
    font-weight: 700;
    font-size: 1rem;
    color: rgb(28, 29, 42);
    letter-spacing: 0.25em;
}

.noticias{
    display: grid;
    /* min-height: 200px; */
    grid-template-areas: 
    "header header header header header"
    "noticia1 noticia1 noticia1 . side"
    "noticia2 noticia2 noticia2 . side"
    "noticia3 noticia3 noticia3 . side"
    "noticia4 noticia4 noticia4 . side";
    /* grid-template-rows: 100px  100px 200px 75px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    margin-bottom: 5vh;
    background: url("../media/fondo-noticias.png") repeat;
    section{
        width: 100vh;
        margin-left: 100px;
    }
}
#side1{
    grid-area: foto1;
}
#side2{
    grid-area: foto2;
}
#side3{
    grid-area: foto3;
}
#side4{
    grid-area: foto4;
}
.noticias__side--fotos{
    display: grid;
    grid-template-areas:
    "foto1"
    "foto2"
    "foto3"
    "foto4";
    margin-left: 2vh;
}

.noticias__header{
    grid-area: header;
    text-align: left;
    margin: 3vh;
}

#noticia1{
    grid-area: noticia1;
    display: flex;
}
#noticia2{
    grid-area: noticia2;
    display: flex;
}
#noticia3{
    grid-area: noticia3;
    display: flex;
}
#noticia4{
    grid-area: noticia4;
    display: flex;
}
.noticias__side{
    grid-area: side;
    border-left: 2px solid gray;
    margin-left: -10vh;
}

.sideImagen{
    // @include bg-image(url("../media/carrousel.jpg"), 200px);
    margin: 2vh auto;
}

.noticias__imagen{
    width: 50%;
    margin: 2vh;
    background-size: cover;
    border-radius: .25rem;
}


.noticias--author{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    span a:hover{
        color: black !important;
        filter: brightness(150%);
        transition: .4s;
        font-weight: bold;
    }
}

.noticias--texto{
    font-size: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2, span:nth-child(1){
        font-weight: 600;
    }
}

.noticias--textoConteiner{
    width: 50%;
    margin: 2vh;
}

.noticias--fecha{
    color: $border-color-hover;
}


// Phone
@media only screen and (max-width: 767px){
    .noticias{
        display: block;
    }
    #noticia1{
        display: block;
        width: 90%;
        margin: 5vh auto;
    }
    #noticia2{
        display: block;
        width: 90%;
        margin: 5vh auto;
    }
    #noticia3{
        display: block;
        width: 90%;
        margin: 5vh auto;
    }
    #noticia4{
        display: block;
        width: 90%;
        margin: 5vh auto;
    }
    .noticias__imagen{
        width: 89%;
    }
    .noticias--textoConteiner{
        width: auto;
    }
    .noticias--descripcion{
        margin: 5vh 0;
    }
    .noticias__recientes{
        padding-top: 0;
    }
    .noticias__titulo--text{
        float: none;
        transform: none;
        transform-origin: none;
        position: none;
        font-size: 20px;
    }
    .noticias__titulo{
        width: none;
        height: 25px;
    }
    .noticias__articulos{
        display: block;
    }
    .noticias__side{
        display: none;
    }
}